.resetMain {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.09);
  }
  
  .lContainerRE {
   height: auto;
    border: 2px solid black;
    width: 450px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    background-color: rgb(247, 247, 247);
  }
  
  .lContainerRE>h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .tologokaitolabelRE {
        text-align: center;
  }

  .lButtonRE {
    width: 40%;
    margin-left: 30%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 550;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .lButtonRE:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .toerror {
    margin-left: 5%;
    width: 85%;
    border-radius: 5px;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: -15px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid orange;
    background-color: rgb(124, 89, 0);
    color: rgb(255, 190, 70);
  }

  .toerroredwRE {
    margin-left: 5%;
    width: 85%;
    border-radius: 5px;
    padding: 0px 10px;
    margin-top: 15px;
    margin-bottom: -15px;
    font-weight: 600;
    font-size: 16px;
  }

  #medium{
    border: 1px solid orange;
    background-color: rgb(124, 89, 0);
    color: rgb(255, 190, 70);
  }

  #high{
    border: 1px solid red;
    background-color: rgb(97, 0, 0);
    color: rgb(255, 53, 53);
  }

  #success {
    border: 1px solid rgb(43, 255, 0);
    background-color: rgb(18, 58, 0);
    color: rgb(43, 255, 0);
  }
  
  #UserFound {
    border: 1px solid rgb(43, 255, 0);
    background-color: rgb(18, 58, 0);
    color: rgb(43, 255, 0);
  }

  .lInputRE {
    height: 30px;
    margin-left: 5%;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 73.7%;
    border-right: none;
    border-radius: 5px 0 0 5px;
  }

  .toeye {
    padding: 13px;
    margin-right: 3%;
    border-radius: 0 5px 5px 0;
    background-color: white;
    border: 2px solid black;
  }